<%= form_tag(response_index_path, method: 'post', class: 'form-check', remote: true, id: 'response-form') do %>
  <div class="modal-body text-left" id='question-container'>
    <% if @question.nil? %>
      <h5 class='card-title'>You finished the quiz!</h5>
    <% else %>
      <h5 class='card-title'><%= @question.title %></h5>
      <div id='options-container'>
        <% @question.options.each do |option_title, _| %>
          <label><%= check_box_tag("selected_options[]", option_title) %> <%= option_title %></label>
          <br>
        <% end %>
      </div>
      <%= hidden_field_tag(:question_id, @question.id) %>
      <%= hidden_field_tag(:quiz_id, @quiz.id) %>
    <% end %>
  </div>
  <div class="modal-footer">
    <% if @question.nil? %>
      <%= link_to "See Orgs", finish_quiz_path(:quiz_id => @quiz.id), :id => 'finish-quiz', :class => "btn btn-finish-quiz", :remote => true, "data-dismiss" => "modal" %>
    <% else %>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Skip</button>
      <%= submit_tag('Next Question', class: 'btn btn-warning', id: 'submit-response-btn') %>
    <% end%>
  </div>
<% end %>
