<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #00B2A9">
  <div class="container">

  <a class="navbar-brand" href="/">communities<b>@Cal</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
<hr>
   <div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block file-upload">
      </div></hr><br>
    <hr>
    <form action= "/profile/<%= @id %>" method="post" id="info">
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="first_name"><h4>First name</h4></label>
          <input type="text" name="first_name" class="form-control" id="first_name" value="<%= @profile.first_name %>">
        </div>

        <div class="form-group col-md-3">
          <label for="last_name"><h4>Last name</h4></label>
          <input type="text" name="last_name" class="form-control" id="last_name" value="<%= @profile.last_name %>">
        </div>

        <div class="form-group col-md-6">
          <label for="major"><h4>Major</h4></label>
          <input type="text" name="major" class="form-control" id="major" value="<%= @profile.major %>">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="grad_year"><h4>Graduation Year</h4></label>
          <select id="grad_year" name="grad_year" class="form-control form-control-lg">
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="gender"><h4>Gender Identity</h4></label>
          <select id="gender" name="gender" class="form-control form-control-lg">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form group col-md-6">
          <label for="ethnicity"><h4>Ethnicity</h4></label>
          <select id="ethnicity" name="ethnicity" class="form-control form-control-lg">
            <option value="African">African</option>
            <option value="African-American">African-American</option>
            <option value="White">White</option>
            <option value="East Asian">East Asian</option>
            <option value="Southeast Asian">Southeast Asian</option>
            <option value="South Asian">South Asian</option>
            <option value="Middle Eastern & North African/Southwest Asian & North African">Middle Eastern & North African/Southwest Asian & North African</option>
            <option value="Pacific Islander">Pacific Islander</option>
            <option value="Latinx">Latinx</option>
            <option value="Native American">Native American</option>
            <option value="Not Listed">Not Listed</option>
            <option value="Prefer not to state">Prefer not to state</option>
          </select>
        </div>
        </div>
        <h4>Check All That Apply</h4>
          <div class="form-inline">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="transfer" name="transfer" <%= 'checked' unless !@profile.transfer %>>
                <label for="transfer">Transfer Student</label>
            </div>
          </div>
          <div class="form-inline">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="graduate" name="graduate" <%= 'checked' unless !@profile.graduate %>>
                <label for="graduate">Graduate Student</label>
            </div>
          </div>
          <div class="form-inline">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="international" name="international" <%= 'checked' unless !@profile.international %>>
                <label for="international">International Student</label>
            </div>
          </div>

      <div class="form-group row ">
        <div class="col-xs-12 center block">
        <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    	</div>
    </form>


<script type="text/javascript">
function setSelected(a, b) {
    for (var i=0; i<a.options.length; i++ ){
        if (a.options[i].value==b){
            a.options[i].selected = true;
            return;
          }
    }
}
setSelected(document.getElementById('grad_year'),"<%= @profile.grad_year %>");
setSelected(document.getElementById('ethnicity'),"<%= @profile.ethnicity %>");
setSelected(document.getElementById('gender'),"<%= @profile.gender %>");
</script>
