<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #00B2A9">
  <div class="container">

  <a class="navbar-brand" href="/">communities<b>@Cal</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="<%= signout_path %>" >Sign Out</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
<div id="profile-picture" class="d-flex flex-column justify-content-center align-items-center bg-gradient-light">
  <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar rounded-circle img-thumbnail" alt="avatar">
  <div class="custom-file flex-shrink-1 mt-4 w-auto">
    <input type="file" class="custom-file-input" id="customFile">
    <label class="custom-file-label" for="customFile">Upload Photo</label>
  </div>
</div>
<h4 id="update-profile-title" class="text-center">Update Profile</h4>
<!-- User Profile Edit Form -->
<div id="form-container" class="container heavy-labels">
  <!-- Alert if on profile update failure -->
  <% if alert %>
    <p class="alert alert-warning alert-dismissible fade show">
      <%= alert %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </p>
  <% end %>
  <form action= "/profile/<%= @id %>" method="post" id="info">
    <div class="row">
      <!-- Layout: Left/Top -->
      <div class="col-md-6">
        <div class="form-row">
          <div class="form-group col-lg-6">
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" class="form-control" id="first_name" value="<%= @profile.first_name %>">
          </div>
          <div class="form-group col-lg-6">
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" class="form-control" id="last_name" value="<%= @profile.last_name %>">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-lg-6">
            <label for="major">Major</label>
            <input type="text" name="major" class="form-control" id="major" value="<%= @profile.major %>">
          </div>
          <div class="form-group col-lg-6">
            <label for="grad_year">Graduation Year</label>
            <select id="grad_year" name="grad_year" class="custom-select">
              <option value="2020">2020</option>
              <option value="2021">2021</option>
              <option value="2022">2022</option>
              <option value="2023">2023</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div id="gender-text-form" class="form-group col-lg-6">
            <label for="gender">Gender</label>
            <input type="text" name="gender" class="form-control" id="gender" value="<%= @profile.gender %>">
          </div>
        </div>
      </div>
      <hr class="col-md-12 d-md-none">
      <!-- Layout: Right/Bottom -->
      <div class="col-md-5 offset-md-1 col-11 offset-1">
        <!-- Ethnicity -->
        <div class="form-group">
          <label for="ethnicity">
            Ethnicity 
            <small class="text-muted">(Check all that apply)</small>
          </label>
          <div class="form-row light-labels" id="ethnicities">
            <div class="custom-control custom-checkbox col-sm-6">
              <input class="custom-control-input" name="ethnicity[]" type="checkbox" value="African" id="African">
              <label class="custom-control-label" for="African">
                African
              </label>
            </div>
            <div class="custom-control custom-checkbox col-sm-6">
              <input class="custom-control-input" name="ethnicity[]" type="checkbox" value="African-American" id="African-American">
              <label class="custom-control-label" for="African-American">
                African-American
              </label>
            </div>
            <div class="custom-control custom-checkbox col-sm-6">
              <input class="custom-control-input" name="ethnicity[]" type="checkbox" value="White" id="White">
              <label class="custom-control-label" for="White">
                White
              </label>
            </div>
            <div class="custom-control custom-checkbox col-sm-6">
              <input class="custom-control-input" name="ethnicity[]" type="checkbox" value="East Asian" id="East Asian">
              <label class="custom-control-label" for="East Asian">
                East Asian
              </label>
            </div>
            <div class="custom-control custom-checkbox col-sm-6">
              <input class="custom-control-input" name="ethnicity[]" type="checkbox" value="Southeast Asian" id="Southeast Asian">
              <label class="custom-control-label" for="Southeast Asian">
                Southeast Asian
              </label>
            </div>
            <div class="custom-control custom-checkbox col-sm-6">
              <input class="custom-control-input" name="ethnicity[]" type="checkbox" value="South Asian" id="South Asian">
              <label class="custom-control-label" for="South Asian">
                South Asian
              </label>
            </div>
            <div class="custom-control custom-checkbox col-sm-6">
              <input class="custom-control-input" name="ethnicity[]" type="checkbox" value="Native American" id="Native American">
              <label class="custom-control-label" for="Native American">
                Native American
              </label>
            </div>
            <div class="custom-control custom-checkbox col-sm-6">
              <input class="custom-control-input" name="ethnicity[]" type="checkbox" value="Pacific Islander" id="Pacific Islander">
              <label class="custom-control-label" for="Pacific Islander">
                Pacific Islander
              </label>
            </div>
            <div class="custom-control custom-checkbox col-sm-6">
              <input class="custom-control-input" name="ethnicity[]" type="checkbox" value="Latinx" id="Latinx">
              <label class="custom-control-label" for="Latinx">
                Latinx
              </label>
            </div>
            <div class="custom-control custom-checkbox col-sm-6">
              <input class="custom-control-input" name="ethnicity[]" type="checkbox" value="Middle Eastern & North African/Southwest Asian & North African" id="Middle Eastern & North African/Southwest Asian & North African">
              <label class="custom-control-label" for="Middle Eastern & North African / Southwest Asian & North African">
                Middle Eastern & North African / Southwest Asian & North African
              </label>
            </div>
            <div class="custom-control custom-checkbox col-sm-6">
              <input class="custom-control-input" name="ethnicity[]" type="checkbox" value="Not Listed" id="Not Listed">
              <label class="custom-control-label" for="Not Listed">
                Not Listed
              </label>
            </div>
            <div class="custom-control custom-checkbox col-sm-6">
              <input class="custom-control-input" name="ethnicity[]" type="checkbox" value="Prefer not to state" id="Prefer not to state">
              <label class="custom-control-label" for="Prefer not to state">
                Prefer not to state
              </label>
            </div>
          </div>
        </div> <!-- End of Ethnicity -->
        <hr>
        <!-- Student type -->
        <div class="form-group">
          <label for="student">
            Student 
            <small class="text-muted">(Check if any applicable)</small>
          </label>
          <div class="form-row light-labels">
            <div class="custom-control custom-checkbox col-lg-4">
                <input class="custom-control-input" type="checkbox" id="transfer" name="transfer" <%= 'checked' unless !@profile.transfer %>>
                <label class="custom-control-label" for="transfer">Transfer</label>
            </div>
            <div class="custom-control custom-checkbox col-lg-4">
                <input class="custom-control-input" type="checkbox" id="graduate" name="graduate" <%= 'checked' unless !@profile.graduate %>>
                <label class="custom-control-label" for="graduate">Graduate</label>
            </div>
            <div class="custom-control custom-checkbox col-lg-4">
                <input class="custom-control-input" type="checkbox" id="international" name="international" <%= 'checked' unless !@profile.international %>>
                <label class="custom-control-label" for="international">International</label>
            </div>
          </div>
        </div>
        <hr>
        <!-- Submit button -->
        <div class="form-group justify-content-center">
          <button id="update-profile-btn" class="btn btn-primary" type="submit">Save Profile</button>
        </div>
      </div>
    </div>
  </form>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    var checkboxes = $('#ethnicities input');
    for (var i=0; i < checkboxes.length; i++) {
      markChecked(checkboxes[i]);
    }
  });

  function markChecked(elem) {
    var studentEthnicity = <%=raw @profile.ethnicity %>;
    if (studentEthnicity.includes(elem.value)) {
      console.log(elem);
      $(elem).prop('checked', true);
    }
    return;
  }



function setSelected(a, b) {
    for (var i=0; i<a.options.length; i++ ){
        if (a.options[i].value==b){
            a.options[i].selected = true;
            return;
          }
    }
}
setSelected(document.getElementById('grad_year'),"<%= @profile.grad_year %>");

</script>
